@import "tailwindcss";


@theme {
  /* Defining your primary shades */
  --color-primary-50: #f0fdf4;
  --color-primary-100: #dcfce7;
  --color-primary-500: #22c55e;
  --color-primary-600: #16a34a;
  --color-primary-700: #15803d;

  /* Defining your brand colors */
  --color-brand-blue: #1a56db;
  --color-brand-yellow: #fff0c2;
}

@layer base {
  body {
    @apply bg-[#F4F7FB] text-gray-900;
  }
}
